app = "uptime-kuma"
kill_signal = "SIGINT"
kill_timeout = "10s"
primary_region = "sin"
swap_size_mb = 256

# [build]
# image = "ghcr.io/webees/uptime-kuma"

[checks.health]
grace_period = "1m0s"
interval = "30s"
method = "get"
path = "/icon.svg"
port = 80
timeout = "5s"
type = "http"

[http_service]
auto_start_machines = true
auto_stop_machines = false
force_https = true
internal_port = 80
min_machines_running = 1

  [http_service.concurrency]
  hard_limit = 150
  soft_limit = 100
  type = "requests"

[[mounts]]
destination = "/app/data"
source = "app_data"
