# ╔═══════════════════════════════════════════════════════════════════════════╗
# ║ Caddy Reverse Proxy - Uptime Kuma                                         ║
# ╚═══════════════════════════════════════════════════════════════════════════╝

# ── Global Options ────────────────────────────────────────────────────────────
{
	auto_https off
	admin off
	persist_config off

	log {
		level INFO
		output stdout
		format console
	}
}

# ── Site Block ────────────────────────────────────────────────────────────────
{$CADDY_DOMAINS::80} {
	encode zstd gzip

	# Security headers
	header / {
		Strict-Transport-Security "max-age=31536000;"
		X-XSS-Protection "1; mode=block"
		X-Frame-Options "DENY"
		X-Robots-Tag "noindex, nofollow"
		X-Content-Type-Options "nosniff"
		-Server
		-X-Powered-By
		-Last-Modified
	}

	# Reverse proxy
	reverse_proxy localhost:5000 {
		header_up X-Real-IP {http.request.header.CF-Connecting-IP:{http.request.header.Fly-Client-IP:{remote_host}}}
		header_up X-Forwarded-For {http.request.header.CF-Connecting-IP:{http.request.header.Fly-Client-IP:{remote_host}}}
	}
}
