# ╔═══════════════════════════════════════════════════════════════════════════╗
# ║ Supercronic Crontab                                                       ║
# ╚═══════════════════════════════════════════════════════════════════════════╝

# Restic backup schedule
@hourly /restic.sh backup